{% extends 'base.html' %} {% block title %} Sign up! {% endblock %} {% block
content %}

<h1 class="display-4 text-center mt-5">Create an Account</h1>

<div class="container d-flex justify-content-center mt-3">
  <form name="signup" method="POST">
    {{ form.hidden_tag() }} {% for field in form if field.widget.input_type
    !='hidden' %}
    <div class="form-group"></div>
    {% for error in field.errors %}
    <span class="text-danger">{{ error }}</span>
    {% endfor %} {{
    field(placeholder=field.label.text,autocomplete="new-password",
    class="form-control my-3") }} {% endfor %}

    <button class="btn custom-btn btn-primary btn-lg my-3">Sign Up!</button>
  </form>
</div>

{% endblock %}
